<div class="navbar navbar-default" id="subnav">
    <div class="col-md-12">
        <div class="navbar-header">
            <a href="/"><img src="../images/liveen.png" width="140" height="57"></a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse2">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="/">Posts</a></li>
                {{^sessionUser}}
                <li><a href="/users/loginForm" role="button">Login</a></li>
                <li><a href="/users/form" role="button">New Account</a></li>
                {{/sessionUser}}
                {{#sessionUser}}
                <li><a href="/users/logout" role="button">Log Out</a></li>
                <!--  
                <li><a href="/users/{{id}}/form" role="button">Edit Account</a></li>
                -->
                {{/sessionUser}}
            </ul>
        </div>
    </div>
</div>