<!DOCTYPE html>
<html lang="kr">
<head>
    <title>Welcome to Liveen Social Media Service | Main</title>  
    {{> /include/header}}
</head>

<body>

{{> /include/navigation}}

<div class="container-fluid" id="main">
    <div class="row full-height">
        <div class="col-md-6 col-md-offset-3 full-height">
            <div class="panel panel-default qna-list full-height">
                <ul class="list full-height">
                    {{#activities}}
                    <li>
                        <div class="wrap">
                            <div class="main">
                                {{#isLocation}}
                                <div class="content-location">
                                    <div class="page-header">
                                        <b>{{behaviour}}</b> / <b>{{location}}</b>
                                    </div>
                                    <div class="page-author">{{writer.userId}}</div>
                                    <div class="time">{{formattedCreateDate}}</div>
                                </div>
                                {{/isLocation}}
                                {{^isLocation}}
                                <strong class="subject">
                                    <a href="/questions/{{id}}">{{title}}</a>
                                </strong>
                                {{contents}} <br>
                                <img src="../images/location1.png" width="200" height="100"> <br>
                                #{{hashtag}}
                                <div class="auth-info">
                                    <i class="icon-add-comment"></i>
                                    <span class="time">Date : {{formattedCreateDate}}</span>
                                    <span class="time">Update Time : {{formattedModifiedDate}}</span>
                                    <a href="/user/profile" class="author">Author : {{writer.userId}}</a>
                                </div>
                                <div class="reply" title="Reply">
                                    <i class="icon-reply"></i>
                                    <span class="point">{{countOfAnswer}}</span>
                                </div>
                                {{/isLocation}}
                            </div>
                        </div>
                    </li>
                    {{/activities}}
                    <li>
                        <div class="row">
                            <div class="col-md-12 qna-write">
                                <a href="/questions/form" class="btn btn-primary pull-right" role="button">Upload</a>
                                <a href="/locations/form" class="btn btn-primary pull-right" role="button">Location</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{{> /include/footer}}
</body>
</html>